
body {
    font-family: Arial, sans-serif;
    margin: 0; 
    background-color: #f9f9f9;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
}



.link-box a {
    display: inline-block; 
    padding: 10px 20px;
    border: 2px solid #0077b5; 
    border-radius: 10px; 
    background-color: #0077b5; 
    color: white;
    font-size: 16px; 
    transition: all 0.3s ease;
    text-decoration: none;
}

.link-box a:hover {
    background-color: white; 
    color: #0077b5;
    border-color: #333; 
}

.box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center; 
}

.box h2 {
    margin-top: 0;
    color: #333;
}

p{
    font-size: 20px;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.icon-list a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease;
}

.icon-list a:hover {
    color: #0077b5;}
